<h2>商品一覧</h2>
<table>
  <thead>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <%= item.id %>
      <%= item.name %>
      <%= item.price %>
      <%= Genre.find(item.genre_id) %>
      <%= item.is_active %>
    <% end %>
  </tbody>
</table>