 <div class="container-fluid">
      <div class="row">
        <div class="col">
          <% flash.each do |type, msg| %>
            <% if type == "notice" %>
              <div class="alert alert-success">
            <% elsif type == "alert" %>
              <div class="alert alert-danger">
            <% end %>
                <%= h(msg).gsub(/\n/,"<br>").html_safe %>
              </div>
          <% end %>
        </div>
      </div>
  </div>

<h2>ジャンル編集</h2>
<div>
  <%= form_with(model: @genre,url: admin_genre_path,local: true) do |f| %>
    <%= f.label :name,"ジャンル名" %>
    <%= f.text_field :name %>
    <%= f.submit "変更を保存" %>
  <% end %>
</div>
