<div class="container px-2">
  
  <div class=" my-4 mx-2 row d-flex justify-content-start">
    <h2>
      <% if @is_from_customer_show %>
        <%= Customer.find(params[:customer_id]).full_name %>さんの注文履歴
      <% else %>
        注文履歴一覧
      <% end %>
    </h2>
  </div>

  <div class="my-4 row mx-2 d-flex justify-content-center">
    <table class="table">
      <thead class="table-success">
        <th>購入日時</th>
        <% if !(@is_from_customer_show) %>
          <th>購入者</th>
        <% end %>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to(order.cut_UTC_time, admin_order_path(order.id)) %></td>
            
            <% if !(@is_from_customer_show) %>
              <td>
                <% customer = Customer.find(order.customer_id) %>
                <%= customer.full_name %>
              </td>
            <% end %>
            
            <td>
              <%= OrderItem.where(order_id: order.id).sum(:amount) %>
            </td>
            <td><%= order.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="my-5 pb-5">
      <%= paginate(@orders) %>
    </div>
  </div>
</div>
