<%= render(partial: "/layouts/err-msg") %>
<div class="container px-2">
  
  <div class=" my-4 mx-3 row d-flex justify-content-start">
    <h2>注文情報確認</h2>
  </div>

  <div class="row mx-3 d-flex justify-content-start">    
    <table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <% item = Item.find(cart_item.item_id) %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.delimited_taxed_price %></td>
            <td><%= cart_item.amount %></td>
            
          </tr>
        <% end %>
      </tbody>
    </table>
    <div>
      <h3>支払方法</h3>
      <p><%= @order.payment %></p>
    </div>
    <div>
      <h3>お届け先</h3>
      <p>〒<%= @order.postal_code + " " + @order.address + " " + @order.name  %></p>
    </div>
  </div>
  <div class="row justify-content-center">
  </div>
</div>