<%= render(partial: "/layouts/err-msg") %>
<div class="container px-2">
  
  <div class=" my-4 mx-3 row d-flex justify-content-start">
    <h2>注文履歴一覧</h2>
  </div>

  <div class="row mx-3 d-flex justify-content-start">    
    <table class="table">
      <thead>
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><%= order.return_formatted_created_at %></td>
          <td>
            <%= order.postal_code %><br>
            <%= order.address %><br>
            <%= order.name %>
          </td>
          <td>
            <% order_items = OrderItem.where(order_id: order.id) %>
            <% order_items.each do |order_item| %>
              <%= order_item.fetch_item_name %>
            <% end %>
          </td>
          <td><%= order.total_price + order.get_shipping_fee %></td>
          <td><%= order.status %></td>
          <td><%= link_to("表示する", order_path(order.id), class: "btn btn-primary") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>