<%= render(partial: "/layouts/err-msg") %>
<div class="container px-2">
  
  <div class=" my-4 mx-3 row d-flex justify-content-start">
    <h2>注文履歴詳細</h2>
  </div>

  <div class="row mx-3 d-flex justify-content-start">    
  
    <div class="col-md-6">
      <h3>注文情報</h3>
      <table class="table">
        <tr>
          <th>注文日</th>
          <td><%= @order.return_formatted_created_at %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            <%= "〒" + @order.postal_code %>
            <%= @order.address %>
            <%= @order.name %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <h3>請求情報</h3>
      <table class="table">
        <tr>
          <th>商品合計</th>
          <td><%= @order.total_price %></td>
        </tr>
        <tr>
          <th>配送料</th>
          <td><%= @order.shipping_fee %></td>
        </tr>
        <tr>
          <th>ご請求額</th>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row justify-content-center">
  </div>
</div>