<%= render(partial: "/layouts/err-msg") %>
<div class="container px-2">
  
  <div class=" my-4 mx-3 row d-flex justify-content-start">
    <h2>配送先登録/一覧</h2>
  </div>
  <div class="row justify-content-center">
    <%= form_with(model: @address, url: "addresses", local: true) do |f| %>
      <div class="form-group">
        <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
        <%= f.text_field :postal_code %>
      </div>
      <div class="form-group">
        <%= f.label :address, "住所" %>
        <%= f.text_field :address %>
      </div>
      <div class="form-group">
        <%= f.label :name, "宛名" %>
        <%= f.text_field :name %>
      </div>
      <%= f.submit "新規登録", class: "btn btn-success" %>
    <% end %>
  </div>

  <div class="row mx-3 d-flex justify-content-start">    
    <table class="table">
      <thead>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td>
              <%= link_to("編集する", edit_address_path(address.id), class: "btn btn-success") %>
              <%= link_to("削除する", "addresses/#{address.id}", method: :delete, class: "btn btn-danger") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>