<%= render(partial: "/layouts/err-msg") %>
<div class="container px-2">
  
  <div class=" my-4 mx-3 row d-flex justify-content-start">
    <%= render(partial: "/layouts/genrebar", locals: {genres: @genres}) %>
    <div class="col-md-7 d-flex">
      
      <h2>
        <span>商品一覧</span>(全<%= Item.count %>件)
      </h2>
      <% @items.each do |item| %>
        <div>
          <%= link_to(item_path(item.id))  do %>
            <%= attachment_image_tag(item, :image, fallback: "no_image.jpg", size: "100x100") %>
          <% end %>
          <%= item.name %>
          <%= item.price %>
        </div>
      <% end %>
    </div>
    <%= paginate @items %>
  </div>

</div>