<%= render(partial: "/layouts/err-msg") %>
<div class="container px-2">
  
  <div class=" my-4 mx-3 row d-flex justify-content-start">
    <%= render(partial: "/layouts/genrebar", locals: {genres: @genres}) %>
    <div class="col-md-7 d-flex">
      <div>
        <%= attachment_image_tag(@item, :image, fallback: "no_image.jpg", size: "100x100") %>
      </div>
      <div>
        <h3>
          <%= @item.name %>
        </h3>
        <p>
          <%= @item.introduction %>
        </p>
        <p>
          <span class="font-weight-bold"><%= @item.delimited_taxed_price %>円</span>(税込)
        </p>
        <%= form_with(model: @cart_item, url: "../cart_items",local: true, class: "form-group") do |f| %>
          <%= f.hidden_field :customer_id, value: current_customer.id %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.select :amount, *[1..9] %>
          <%= f.submit "カートに入れる", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>

</div>