<div class="container px-3">
  
  <div class=" my-4 mx-2 row d-flex justify-content-center">
    <h2>ログイン</h2>
  </div>
    
  <div class=" my-4 mx-2 row d-flex justify-content-center">
    <h3>会員の方はこちらからログイン</h3>
  </div>
    
  <div class=" my-4 mx-2 row d-flex justify-content-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="field">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    
      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </div>
  
  <div class=" my-4 mx-2 row">
    <h3>会員登録がお済みでない方</h3>
  </div>
  <div class=" my-4 mx-2 row">
    <%= render "customers/shared/links", link_message_registrations: "こちら" %>から登録を行ってください。
  </div>
