<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Nagano <i class="fa fa-birthday-cake" aria-hidden="true"></i> Cake</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler1" aria-controls="navbarToggler1">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-end" id="navbarToggler1">
          <ul class="navbar-nav flex-md-column ">
            <div class="d-flex flex-column flex-md-row">
              <li class="nav-item mr-4 my-2 text-white">
                About
              </li>
              <li class="nav-item mr-4 my-2 text-white">
                商品一覧
              </li>
              <li class="nav-item mr-4 my-2 text-white">
                新規登録
              </li>
              <li class="nav-item mr-4 my-2 text-white">
                ログイン
              </li>
            </div>
            <div>
              <li class="nav-item mr-4 my-2">
                <form action="" method="post" class="input-group">
                  <input type="search" placeholder="Search" class="form-control">
                    <span class="input-group-btn">
                      <button type="submit" class="bg-white btn">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                    </span>
                </form>
            </div>
            </li>
          </ul>
        </div>
      </nav>
    
    </header>
    
    <main>
      <%= yield %>
    </main>
    
    <footer>
      
      
    </footer>
    
  </body>
</html>
